<div class="swiper">
  <div class="swiper-wrapper">
    <% images = (1..10).select { |i| @point.send("image_#{i}").attached? } %>

    <% if images.any? %>
      <% images.each do |i| %>
        <div class="swiper-slide">
          <div class="point-image">
            <%= cl_image_tag @point.send("image_#{i}").key, crop: :fit %>
          </div>
          <div class="point-content">
            <%= @point.send("image_#{i}_comment") %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="point-content">
        <p class="mobile-margin">Il n'y a pas d'images pour ce point d'intérêt.</p>
      </div>
    <% end %>
  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev">
    <i class="fa-solid fa-arrow-right rotated-inversed"></i>
  </div>
  <div class="swiper-button-next">
    <i class="fa-solid fa-arrow-right"></i>
  </div>
</div>
