<div class="page-main">
  <div class="page-padding no-padding">
    <section class="dynamic-pages">
      <div class="dynamic-pages_wrapper">
        <h2><%= @point.title %></h2>
        <p><%= @point.infos %></p>
      </div>
    </section>
  </div>
</div>
