.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 4rem;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  row-gap: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 3rem;
  padding: 1.5rem;
  row-gap: 1.5rem;
  background-color: white;
  border: 1px solid $blue;
  border-radius: 20px;
}

.content-title {
  cursor: pointer;

  h4:hover {
    color: $blue;
  }
}

.content-infos_wrapper {
  display: none;

  &.active {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 3rem;
  }
}

.content-infos {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  .infos {
    display: flex;
    column-gap: 2rem;
  }
}

.content-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 1rem;
  width: 35%;
}
