.dynamic-pages {
  display: flex;
  flex-direction: column;
}

.dynamic-pages_wrapper {
  display: flex;
  flex-direction: column;
}

.map-canva {
  height: 31.1rem;
  border-bottom: 1px solid black;
}

.infos_wrapper  {
  display: flex;
  justify-content: space-between;
}

.info_bloc {
  display: flex;
  flex-direction: column;
  width: 33.333%;
  height: 19.9rem;
  border-right: 1px solid black;
  overflow: auto;

  .no-border {
    border-right: none;
  }

}


// SENTIERS INDEX //

.sentier-title_bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid black;
  background-color: $blue;
  cursor: pointer;

  .sentier-title-arrow {
    display: none;
  }

  &.active {
    background-color: $gray;

    .sentier-title-arrow {
        display: block;
      }
  }
}

.sentier-title_bloc:hover {
  background-color: $gray;
}

.sentier-infos {
  display: none;

  &.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1.5rem;
    padding: 1.5rem;

    a {
      color: $black;
    }

    a:hover {
      color: $blue;
    }
  }
}

.sentier-tech-infos {
  display: flex;
  column-gap: 1.5rem;
}

.sentier-image {
  display: none;

  &.active {
    display: flex;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}

// SENTIER SHOW

.points_bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid black;
  background-color: $blue;

}

.points-list {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  overflow: auto;
  list-style: none;

  li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;

    input {
      width: unset;
    }
  }
}

.point-infos {
  display: none;

  &.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1.5rem;
    padding: 1.5rem;

    a {
      color: $black;
    }

    a:hover {
      color: $blue;
    }
  }
}

.point-image {
  display: none;

  &.active {
    display: flex;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// POINT SHOW

.point-tabs_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;

  .point-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    padding: 1rem;
    width: 25%;

    &.no-border {
      border-right: unset;
    }

    &.active {
      background-color: $black;
      color: $blue;
      font-weight: 500;
    }
  }

  .point-tab:hover {
    font-weight: 500;
    cursor: pointer;
  }
}

.point-content_wrapper {
  display: none;


  &.active {
    display: block;
  }

  &.swiper {
    display: none;

    &.active {
      display: block;
      margin-left: unset;
      margin-right: unset;

      .swiper-slide {
        display: flex;
        flex-direction: column;

        &.active {
          opacity: 1;
          transform: translate3d(0px, 0px, 0px);
        }
      }
    }

        // .point-image {
        //   display: flex;
        //   flex-direction: column;
        //   height: 24.8rem;
        //   border-bottom: 1px solid black;

        //   img {
        //     height: 100%;
        //     object-fit: contain;
        //   }
        // }
  }


  .point-image {
    display: flex;
    flex-direction: column;
    height: 24.8rem;
    border-bottom: 1px solid black;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .point-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    row-gap: 1.5rem;
    overflow: auto;
  }

}
