<div class="page-main">
  <div class="page-padding no-padding">
    <section class="home-hero"
            style="background-image: url('<%= cl_image_path @general.home_img.key %>')">
      <div class="home-hero_wrapper">
        <div class="home-title_wrapper">
          <%= image_tag "logo.png" %>
          <h1 class="poppins-extralight-italic">Les Parcours Découverte Nature et Culture du Mont Macaron</h1>
        </div>
      </div>
    </section>
  </div>
</div>
