<div class="page-main">
  <div class="page-padding">
    <section class="dashboard">
      <div class="dashboard-wrapper">
        <h1 class="large">Bienvenue dans votre tableau de Bord</h1>
      </div>
    </section>
  </div>
</div>
