.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.form {
  padding: 1.5rem;
  background-color: white;
  border: 1px solid $blue;
  border-radius: 20px;
}


.simple_form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.form-tabs_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;

  .form-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background-color: $blue;
    border: 1px solid black;
    border-radius: 20px;
    width: 8rem;
    cursor: pointer;
  }

  &.no-space-between {
    justify-content: center;
    column-gap: 1rem;
  }

  .form-tab.active {
    background-color: $black;
    color: $blue;
  }

  .form-tab:hover {
    background-color: $black;
    color: $blue;
  }
}

.form-bloc_wrapper {
  display: none;

  &.active {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

}

.form-bloc_horizontal_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  .form-bloc {
    align-items: center;
  }
}

.form-arrival-coordinates {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &.masked {
    display: none;
  }
}

input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 20px;

  &.color {
    width: 50px;
    height: 50px;
    padding: unset;
    border-radius: unset;
  }

}

.check_boxes {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 10px;
}

textarea {
  width: 100%;
  height: 25rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 20px;
}

select {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap : 2rem;
}

.form-bloc {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &.borders {
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
  }
}

.form-field {
  display: flex;
  column-gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.form-input {
  width: 5rem;
}

.btn {
  color: $gray;
}

// ACTION TEXT - TRIX

.trix-button-group {
  button {
    padding: 0.5rem;
    font-size: 0.8rem;

    &.trix-button.trix-button--icon.trix-button--icon-attach {
      display: none;
    }
  }
}

trix-editor {
  width: 100%;
  height: 25rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 20px;
  overflow: auto;
}

trix-toolbar {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;

  .trix-dialog__link-fields {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;

    .trix-button-group {
      display: flex;
      column-gap: 1rem;
    }
  }
}

.trix-button--icon-decrease-nesting-level {
  display: none;
}

.trix-button--icon-increase-nesting-level {
  display: none;
}

.trix-button-group {

  &.trix-button-group--history-tools {
    display: none;
  }
}
