.mapboxgl-popup {
  max-width: 260px;
}

.mapboxgl-popup-content {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid black;

  h6 {
    padding-right: 2rem;
  }
}

.mapboxgl-marker {
  svg {
    width: 20px;
    height: 35px;
  }
}
