.navbar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $gray;
  color: $black;
  border-right: 1px solid black;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: unset;
  z-index: 100;
}

.navbar-logo {
  width: 100%;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid black;
    background-color: $blue;
}

.navbar .navbar-logo img {
  width: 19rem;
}

.navbar-collapse {
  width: 100%;
}

.navbar-nav {
  display: block;
  width: 100%;
  position: relative;
}

.nav-dropright-menu {
  display: none;

  &.active {
    display: block;
    position: absolute;
    right: -15rem;
    top: -0.05rem;
    width: 15rem;
    border: 1px solid black;
    border-bottom: none;
  }

  .nav-link {
    font-weight: 400;
  }
}

.nav-link {
  border: none;
  background-color: $blue;
  color: $black;
  padding: 0.8rem 1rem;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  border-bottom: 1px solid black;
  cursor: pointer;

  &.gray {
    background-color: $gray;

    &:hover {
      background-color: $gray;

    }
  }

  i {
    display: none;
  }

  &.active {
    background-color: $gray;
    color: $black;
    font-weight: 500;

    i {
      display: block;
    }
  }

  &.active-black {
    background-color: $black;
    color: $blue;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2

  }
}


.nav-link:hover {
  background-color: $gray;
  color: $black;

  i {
    display: block;
  }
}

.nav-infos {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1rem;
  width: 100%;
  background-color: $gray;
  overflow: auto;
  padding-bottom: 1.5rem;

  &.padding-top {
    padding-top: 2.5rem;
  }

  &.no-gap {
    row-gap: unset;
  }

  .sentier-infos {
    display: flex;
    justify-content: flex-start;
    column-gap: 2rem;
  }
}

.page-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: $black;
  color: $blue;

  h5 {
    margin-bottom: 0;
  }
}

.nav-map {
  width: 100%;
  height: 20rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: coral;
}


.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-toggler-icon {
  background-image: none;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.fa-solid.fa-arrow-right.rotated-down {
  transform: rotate(90deg);
}
.fa-solid.fa-arrow-right.rotated-top-right {
  transform: rotate(-45deg);
}

.fa-solid.fa-arrow-right.rotated-inversed {
  transform: rotate(180deg);
}
