// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// Your CSS partials
@import "components/index";
@import "pages/index";

h1 {
  font-size: 24px;
}

h1.large {
  font-size: 48px;
}

h5 {
  margin-bottom: 0rem;
}
h6 {
  font-size: 16px;
  font-weight: 300;
}

.page-main  {
  margin-left: 20rem;

  &.no-margin {
    margin-left: unset;
  }
}

.page-padding {
  padding: 2rem;

  &.no-padding {
    padding: unset;
  }

  &.large-padding {
    padding: 5rem 15rem;
  }
}

button {
  background-color: $black;
  color: $blue;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 25px;
  text-decoration: none;
}

button:hover {
  background-color: $blue;
  color: $black;

  a {
    color: $black;
  }
}

.btn-secondary {
  background-color: $black;
  color: $blue;
  border: 1px solid black;
  border-radius: 25px;
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  font-size: 0.7rem;
}


.btn-secondary:hover {
  background-color: $blue;
  color: $black;
}

a {
  text-decoration: none;
}

span.large {
  font-size: 18px;
}

span.little {
  font-size: 12px;
}
